@charset "UTF-8";

body{
    background-color: darkgray;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    padding: 50px;
    font-weight: bold;
}
h1{
    font-size: 70px;
}
p{
    background-color: darkgray;
    
}
div{
    display: flex;
    flex-direction: column;
    margin: 20  px;
    
}

